@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@tailwind utilities;

/* Remove default browser margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Font */
html, body {
  font-family: "DM Sans", sans-serif;
  background-color: #FFF6DC ;
}


